.note{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 25%;
    height: 130px;
    padding: 10px;
    background-color: #fff;
    border: solid 1px #ddd;
    border-radius: 10px;
}
.title p{
    font-size: 1.2rem;
    font-weight: bold;
}
.preview{
    border-radius: 5px;
    background-color: #eee;
}
.preview p{
    padding: 5px;
    font-size: 0.7rem;
}
.history{
    display: flex;
    justify-content: end;
}
.history p{
    color: #aaa;
    font-size: 0.5rem;
}