/* grid */
.grid{
    width: calc((100% - 20px) / 3);
    color: #333;
    text-decoration: none;
    transition: all 0.5s;
}
.grid .note{
    flex-direction: column;
    height: 25vh;
}

/* list */
.list{
    width: 100%;
    color: #333;
    text-decoration: none;
    transition: all 0.5s;
}
.list .top{
    display: flex;
}
.list .preview{
    display: none;
}
.list .bottom{
    display: flex;
    align-items: flex-end;
}

/* common */
.note{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    border: solid 1px #ddd;
    border-radius: 10px;
    transition: all 0.5s;
    overflow: hidden;
}
.note:hover{
    border: solid 1px #333;
}
.title p{
    display: flex;
    font-size: 1.2rem;
    font-weight: bold;
    text-wrap: nowrap;
    overflow-x: hidden;
}
.preview{
    border-radius: 5px;
    background-color: #eee;
}
.preview p{
    padding: 5px;
    font-size: 0.7rem;
}
.history{
    display: flex;
    justify-content: flex-end;
}
.history p{
    color: #aaa;
    font-size: 0.5rem;
}