.sidebar{
    width: 30%;
    border-right: solid 1px #999;
    padding: 10px;
}
.groupName{
    text-wrap: nowrap;
    overflow: hidden;
    font-size: 1.4rem;
    font-weight: bold;
    color: #333;
}
.note{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.note a{
    color: #333;
    text-decoration: none;
}
.note p{
    text-wrap: nowrap;
    overflow: hidden;
    padding: 10px;
}
.active{
    font-weight: bold;
    border-radius: 5px;
    color: #fff;
    background-color: #333;
}