.modalWindow{
    z-index: 150;
    width: 600px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* inset: 0;
    margin: auto; */
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    border: solid 1px #ddd;
    animation: slideIn 0.3s ease-in-out forwards;
    box-shadow:  20px 20px 60px #bebebe,
                 -20px -20px 60px #ffffff;
}

/* スマートフォン向け */
@media screen and (max-width: 480px) {
    .modalWindow {
        width: 99%;
        height: 99%;
    }
}

/* タブレット向け */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .modalWindow {
        width: 99%;
        height: 99%;
    }
}

/* 小型デスクトップ向け */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .modalWindow {
        width: 70%;
        max-width: 600px;
    }
}