.permitContent{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 0;
}
.addRole{
    flex: flex-end;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-bottom: solid 1px #333;
    padding: 10px;
}   
.addBtn{
    flex: 1;
    border: none;
    background-color: transparent;
}
.roleList{
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    scrollbar-color: #ddd transparent;
    scrollbar-width: thin;
}     
.role{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-bottom: solid 1px #ddd;
    padding: 10px;
}
.roleName{
    flex: 7;
    padding: 10px;
    border: solid 1px #ddd;
    border-radius: 10px;
}
.roleSelect{
    flex: 2;
    padding: 10px;
    border: solid 1px #ddd;
    border-radius: 10px;
}
.deleteBtn{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
}

