/* open */
.open{
    /* position: relative; */
    width: 33%;
    background-color: #fff;
    border-right: solid 1px #999;
    transition: all 0.3s;
}

/* close */
.close{
    width: 52px;
    background-color: #fff;
    border-right: solid 1px #999;
    transition: all 0.3s;
}
.close p{
    display: none;
}

/* common */
.innerMenu{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #ddd;
    margin-bottom: 15px;
}
.head button{
    width: 32px;
    height: 32px;
    border-radius: 10px;
    padding: 5px;
    margin: 3px;
    transition: all 0.3s;
    background-color: transparent;
    border: none;
}
.head button:hover{
    background-color: #ddd;
}
.head p{
    font-size: 1.5rem;
    font-weight: bold;
}
.category{
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    transition: 0.2s;
}
.category:hover{
    background-color: #eee;
}
.category p{
    color: #555;
    font-size: 1rem;
    font-weight: bold;
    text-wrap: nowrap;
    overflow: hidden;
}
.foot{
    width: 100%;
    display: flex;
    padding: 5px 0;
    align-items: center;
    justify-content: center;
    background-color: #333;
    border-radius: 100px;
    transition: all 0.3s;
}
.foot:hover{
    background-color: #666;
}
.foot p{
    font-size: 0.7rem;
    margin-left: 5px;
    color: #fff;
}