.memberContent{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    min-height: 0;
}
.addMember{
    width: 500px;
    border-bottom: solid 1px #333;
    padding: 10px;
}
.searchMember{
    width: 100%;
    border: solid 1px #ddd;
    border-radius: 10px;
    padding: 10px;
    outline: none;
}
.suggestMemberBox{
    position: absolute;
    width: 480px;
    display: flex;
    flex-direction: column;
    border: solid 1px #ddd;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
}
.suggestMember{
    width: 100%;
    text-align: left;
    border: none;
    background-color: transparent;
    padding: 10px;
    outline: none;
}
.memberList{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-color: #ddd transparent;
    scrollbar-width: thin;
}
.member{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #ddd;
    padding: 10px;
    transition: all 0.3s;
}
.member:hover{
    background-color: #eee;
}
.member p{
    flex: 5;
}
.member select{
    flex: 4;
    padding: 10px;
    border: solid 1px #ddd;
    border-radius: 5px;
}
.deleteBtn{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
}
