.memberContent{
    width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    min-height: 0;
}
@media (min-width: 768px) {
    .memberContent{
        width: 500px;
    }
}
.addMember{
    width: 100%;
    border-bottom: solid 1px #333;
    padding: 10px;
}
.searchMember{
    width: 100%;
    border: solid 1px #ddd;
    border-radius: 10px;
    padding: 10px;
    outline: none;
}
.suggestMemberBox{
    z-index: 100;
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: solid 1px #ddd;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
}
.suggestMember{
    width: 100%;
    text-align: left;
    border: none;
    background-color: transparent;
    padding: 10px;
    outline: none;
}
.memberList{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-color: #ddd transparent;
    scrollbar-width: thin;
}
.member{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #ddd;
    padding: 10px;
    transition: all 0.3s;
}
.member:hover{
    background-color: #eee;
}
.userIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #44f;
}
.member p{
    flex: 1;
    font-size: 0.8rem;
}
.member select{
    padding: 10px;
    border: solid 1px #ddd;
    border-radius: 5px;
}
.deleteBtn{
    /* flex: 1; */
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 10px;
    background-color: transparent;
}
