.settings{
    /* height: 100vh; */
    display: flex;
}

/* profile */
.profile{
    width: 33%;
    height: 100vh;
    position: sticky;
    top: 0;
    background-color: #fff;
    padding: 10px;
    border-right: solid 1px #777 ;
    overflow-y: scroll;
    scrollbar-width:none;
}
.profileHead{
    width: 100%;
    border-bottom: solid 1px #ccc;
    margin-bottom: 30px;
}
.profileHead p{
    font-weight: bold;
    font-size: 1.5rem;
    color: #777;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.figure{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-color: #ddd;
    margin-bottom: 10px;
}
.profile input{
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.profile button{
    width: 90%;
    padding: 10px;
    background-color: #fff;
    border: solid 2px #f44;
    border-radius: 10px;
}

/* groups */
.groupContent{
    width: 100%;
    background-color: #fff;
    padding: 10px;
}
.groups{
    width: 100%;
}
.groupHead{
    width: 100%;
    border-bottom: solid 1px #ccc;
}
.groupHead p{
    font-weight: bold;
    font-size: 1.5rem;
    color: #777;
}

.saveBtn{
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 10px;
}