
@keyframes slideBottom {
    from{
        opacity: 0;
        transform: translateY(10%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.notesTitles{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}
.notesTitle{
    font-size: 0.8rem;
    color: #777;
    font-weight: bold;
}
.empty{
    width: calc((100% - 20px) / 3);
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #ccc;
    cursor: pointer;
    margin-bottom: 20px;
    background: repeating-linear-gradient(45deg,
     rgba(134, 134, 134, 0.3),
     rgba(134, 134, 134, 0.3) 2px,
     rgba(255, 255, 255, 1) 0,
     rgba(255, 255, 255, 1) 12px);
    transition: all 0.3s;
}
.empty:hover{
    background: repeating-linear-gradient(45deg,
     rgba(40, 0, 255, 0.3),
     rgba(40, 0, 255, 0.3) 2px,
     rgba(255, 255, 255, 1) 0,
     rgba(255, 255, 255, 1) 12px);
}
.emptyMain{
    font-size: 1rem;
    font-weight: bold;
    color: #aaa;
}
.emptySub{
    font-size: 0.8rem;
    font-weight: bold;
    color: #555;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    animation: slideBottom 0.3s ease-in-out forwards;
}
.list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    animation: slideBottom 0.3s ease-in-out forwards;
}