.contents{
    height: 100vh;
}

.head{
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
}
.headIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #44f;
    font-size: 1.2rem;
}
.headTitle{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #44f;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.headButton{
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #333;
    text-decoration: none;
    border: solid 1px #44f;
    border-radius: 10px;
    padding: 10px;
    color: #44f;
    font-size: 0.8rem;
    transition: all 0.3s ease;
}
.headButton:hover{
    scale: 1.05;
}
.content{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
    background: radial-gradient(circle, #ddd 5%, transparent 11%);
        background-size: 2em 2em;
        background-color: #ffffff;
        opacity: 1
}
.contentText{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}
.mainText{
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}
.subText{
    font-size: 1rem;
    color: #555;
}
/* デスクトップ */
@media (min-width: 1024px) {
    .contentInput, .submitButton{
        width: 500px;
    }
}
/* タブレット */
@media (min-width: 768px) and (max-width: 1023px) {
    .contentInput, .submitButton{
        width: 500px;
    }
}
/* スマホ */
@media (max-width: 767px) and (min-width: 481px) {
    .contentInput, .submitButton{
        width: 90%;
    }
}
/* スマホ */
@media (max-width: 480px) {
    .contentInput, .submitButton{
        width: 90%;
    }
}
.contentInput{
    /* min-width: 90%; */
    /* width: 500px; */
    padding: 10px;
    border: solid 1px #ccc;
    outline: none;
    border-radius: 10px;
}
.submitButton{
    /* min-width: 90%; */
    /* width: 500px; */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    background-color: #44f;
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease;
    text-decoration: none;
}
.submitButton:hover{
    background-color: #22d;
}

