
.main{
    display: flex;
}
.content{
    width: 100%;
    padding: 10px;
}

/* head */
.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #ddd;
    margin-bottom: 15px;
}
.title{
    font-size: 1.5rem;
    font-weight: bold;
}

/* common */
.mdHeads{
    width: 100%;
    display: flex;
    gap: 10px;
}

/* btn */
.showEditorButton{
    width: 50%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-weight: bold;
    background-color: #333;
    padding: 10px;
    border: none;
    border: solid 1px #777;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    transition: all 0.3s;
}
.showEditorButton:hover{
    background-color: #777;
    color: #333;
}
.hideEditorButton{
    width: 50%;
    display: flex;
    justify-content: space-between;
    color: #333;
    font-weight: bold;
    background-color: #ddd;
    padding: 10px;
    border: solid 1px #777;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    transition: all 0.3s;
}
.showViewerButton{
    width: 50%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-weight: bold;
    background-color: #333;
    padding: 10px;
    border: solid 1px #777;
    border-radius: 10px 10px 0 0;
}
.showViewerButton:hover{
    background-color: #777;
    color: #333;
}
.hideViewerButton{
    width: 50%;
    display: flex;
    justify-content: space-between;
    color: #333;
    font-weight: bold;
    background-color: #ddd;
    padding: 10px;
    border: solid 1px #777;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    transition: all 0.3s;
}

.mdTitle{
    color: #fff;
    font-weight: bold;
}
.areas{
    display: flex;
    gap: 10px;
}

/* editor */
.showEditorArea{
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: scroll;
    scrollbar-width: none;
}
.showInputArea{
    position: absolute;
    inset: 0;
    height: 80vh;
    padding: 10px 0;
    border: solid 1px #333;
    border-radius: 0 0 10px 10px;
    resize: none;
}
.hideEditorArea{
    display: none;
}

/* viewer */
.showViewerArea{
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: scroll;
    scrollbar-width: none;
}
.showPreviewArea{
    height: 80vh;
    border: solid 1px #333;
    border-radius: 0 0 10px 10px;
    overflow: scroll;
    scrollbar-width: none;
}
.hideViewerArea{
    display: none;
}

.screen{
    width: 32px;
    height: 32px;
    background-color: #fff;
    position: absolute;
    bottom: 5px;
    right: 5px;
    border-radius: 7px;
}
.saveBtn{
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    margin-top: 10px;
    font-weight: bold;
    color: #fff;
    background-color: #429;
    border: solid 1px #ccc;
    border-radius: 10px;
    transition: all 0.3s;
}
.saveBtn:hover{
    background-color: #eee;
    color: #429;
}
.saveBtn span{
    margin-left: 5px;
}