
.main{
    display: flex;
}
.content{
    width: 100%;
    padding: 10px;
}

/* head */
.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #ddd;
    margin-bottom: 15px;
}
.title{
    font-size: 1.5rem;
    font-weight: bold;
}

/* md */
.mdContent{
    display: flex;
    gap: 10px;
}
.innerContent{
    width: 50%;
}

/* editor toggle */
.showEditor{
    width: 100%;
    transition: all 0.3s;
}
.hideEditor{
    width: 52px;
    transition: all 0.3s;
}
.hideEditor .mdHead{
    border-radius: 10px;
}
.hideEditor .mdTitle{
    display: none;
}
.hideEditor .toggleScreenButton{
    display: none;
}
.hideEditor .mdInputArea{
    display: none;
}

/* viewer toggle */
.showViewer{
    width: 100%;
    transition: all 0.3s;
}
.hideViewer{
    width: 52px;
    transition: all 0.3s;
}
.hideViewer .mdHead{
    border-radius: 10px;
}
.hideViewer .mdTitle{
    display: none;
}
.hideViewer .toggleScreenButton{
    display: none;
}
.hideViewer .mdPreviewArea{
    display: none;
}

.mdHead{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    background-color: #333;
    border-radius: 10px 10px 0 0;
}
.toggleShowButton{
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: transparent;
    border: none;
    padding: 10px;
    transition: all 0.3s;
}
.toggleShowButton:hover{
    color: #77f;
}
.toggleScreenButton{
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: transparent;
    border: none;
    padding: 10px;
    transition: all 0.3s;
}
.toggleScreenButton:hover{
    color: #77f;
}
.mdInput{
    width: 100%;
}
.mdPreview{
    width: 100%;
}
.mdTitle{
    font-weight: bold;
    font-size: 0.7rem;
    color: #aaa;
}
.mdInputArea{
    box-sizing: border-box;
    height: 70vh;
    width: 100%;
    resize: vertical;
    background-color: #fff;
    border: solid 1px #888;
    border-radius: 0 0 10px 10px;
}
.mdPreviewArea{
    height: 70vh;
    overflow-y: auto;
    background-color: #fff;
    border: solid 1px #888;
    border-radius: 0 0 5px 5px;
}
.saveBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    padding: 5px 10px;
    font-weight: bold;
    color: #fff;
    background-color: #429;
    border: solid 1px #ccc;
    border-radius: 10px;
    transition: all 0.3s;
}
.saveBtn:hover{
    background-color: #eee;
    color: #429;
}
.saveBtn span{
    margin-left: 5px;
}