
/* main */
.mdContent{
    overflow-y: auto;
    height: 80dvh;
    /* headerの高さで調整 */
    margin-top: 30px;
    display: flex;
}
.mdInput{
    padding: 5px;
    background-color: #eee;
    width: 50%;
}
.mdPreview{
    padding: 5px;
    background-color: #eee;
    width: 50%;
    margin-left: 5px;
}
.mdInputArea{
    height: 100px;
    resize: vertical;
    width: 98%;
}
.mdPreviewArea{
    background-color: #fff;
    border: solid 1px #888;
    border-radius: 3px;
    padding: 0 3px;
}
.saveBtn{
    margin-top: 5px;
    padding: 10px;
    color: #fff;
    background-color: #777;
    border-radius: 5px;
    /* footerの高さで調整 */
    margin-bottom: 30px;
}