.main{
    display: flex;
}
.contents{
    width: 100%;
}
.content{
    padding: 10px;
    width: 100%;
}
.hideContent{
    display: none;
}

/* leftBtn */
.groupName{
    font-size: 1.4rem;
    font-weight: bold;
    color: #333;
    text-wrap: nowrap;
    overflow: hidden;
    margin-right: 10px;
}

/* rightBtn */
.layouts{
    margin-right: 10px;
}

/* search */
.search{
    width: 100%;
    margin-bottom: 10px;
}
.search form{
    display: flex;
}
.search input{
    width: 40%;
    height: 32px;
    padding: 10px;
    margin-right: 10px;
    border: solid 1px #ddd;
    border-radius: 10px;
}

/* permission */
.permissionBtn{
    background-color: transparent;
    border: none;
}

/* notes */
.grid{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}