.main{
    display: flex;
}
.contents{
    width: 100%;
    padding: 10px;
}
.content{
    /* padding: 10px; */
    width: 100%;
}
@media (max-width: 1320px) {
    .content{
        width: 100%;
    }
}
@media (min-width: 1320px) {
    .content{
        width: 85%;
        margin: 0 auto;
    }
}
/* leftBtn */
.groupName{
    font-size: 1.4rem;
    font-weight: bold;
    color: #333;
    text-wrap: nowrap;
    overflow: hidden;
    margin-right: 10px;
}

/* rightBtn */
.layouts{
    margin-right: 10px;
}

/* search */
.search{
    width: 100%;
}
.search form{
    display: flex;
}
.search input{
    width: 100%;
    height: 32px;
    padding: 10px;
    margin-right: 10px;
    border: solid 1px #ddd;
    border-radius: 10px;
}

/* notes */
.grid{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* new ノート モーダルウィンドウ */
.inputs{
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
}
.newNoteGroup select{
    width: 100px;
    border: solid 1px #333;
    border-radius: 10px;
    padding: 10px;
}
.newNoteName input{
    width: 300px;
    border: solid 1px #333;
    border-radius: 10px;
    padding: 10px;
}

/* setting */
.modalSettingWindow{
    z-index: 100;
    width: 600px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    position: fixed;
    inset: 0;
    margin: auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    border: solid 1px #ddd;
    overflow: hidden;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
/* モーダルウィンドウの閉じるボタン */
.modalSettingClose{
    position: absolute;
    top: 10px;
    right: 10px;
}

/* 切り替えボタン */
.toggleSettingContent{
    width: 500px;
    display: flex;
    justify-content: center;
    gap: 5px;
    border-radius: 10px;
    padding: 5px;
    background-color: #eee;
}
.falseBtn{
    width: 100%;
    height: 32px;
    border: none;
    background-color: transparent;
}
.trueBtn{
    width: 100%;
    height: 32px;
    border: none;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
}

/* 権限 */
.permitContent{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 0;
}
.addRole{
    flex: flex-end;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-bottom: solid 1px #333;
    padding: 10px;
}   
.addBtn{
    flex: 1;
    border: none;
    background-color: transparent;
}
.roleList{
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
}     
.role{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-bottom: solid 1px #ddd;
    padding: 10px;
}
.roleName{
    flex: 7;
    padding: 10px;
    border: solid 1px #ddd;
    border-radius: 10px;
}
.roleSelect{
    flex: 2;
    padding: 10px;
    border: solid 1px #ddd;
    border-radius: 10px;
}
.deleteBtn{
    flex: 1;
}

