.menu{
    position: relative;
    transition: all 0.3s;
    border-right: solid 1px #ddd;
}
.menuOpen{
    width: 500px;
    padding: 10px;
}
.menuClose{
    width: 5px;
}
.menuBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    position: absolute;
    bottom: 10px;
    right: -35px;
    padding: 10px;
    transition: all 0.3s;
    background-color: #fff;
    color: #249;
    border: solid 1px #ddd;
    border-radius: 0 10px 10px 0;
}
.menuBtn:hover{
    background-color: #249;
    color: #fff;
}