.ImgBtn{
    /* layout */
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* style */
    /* background-color: transparent; */
    background-color: #fff;
    color: #333;
    border-top: solid 2px #eee;
    border-left: solid 2px #eee;
    border-bottom: solid 2px #ddd;
    border-right: solid 2px #ddd;
    border-radius: 10px;
    /* move */
    transition: all 0.3s;
}
.ImgBtn:active{
    border-top: solid 2px #ddd;
    border-left: solid 2px #ddd;
    border-bottom: solid 2px #eee;
    border-right: solid 2px #eee;
}

.mainColor{
    /* layout */
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* style */
    background-color: #429;
    color: #fff;
    border-top: solid 2px #64b;
    border-left: solid 2px #64b;
    border-bottom: solid 2px #207;
    border-right: solid 2px #207;
    border-radius: 10px;
    /* move */
    transition: all 0.3s;
}
.mainColor:hover{
    font-size: 1.3rem;
}
.mainColor:active{
    border-top: solid 2px #207;
    border-left: solid 2px #207;
    border-bottom: solid 2px #64b;
    border-right: solid 2px #64b;
}
