.ImgBtn{
    /* layout */
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* style */
    background-color: transparent;
    color: #333;
    border: solid 1px #ddd;
    border-radius: 10px;
    /* move */
    transition: all 0.3s;
}
.ImgBtn:hover{
    background-color: #333;
    color: #fff;
}

.mainColor{
    /* layout */
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* style */
    background-color: #429;
    color: #fff;
    border: solid 1px #ddd;
    border-radius: 10px;
    /* move */
    transition: all 0.3s;
}
.mainColor:hover{
    background-color: #fff;
    color: #429;
}