
/* モーダル */
.modal{
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #fff;
    background-color: #333c;
    z-index: 100;
}
.message{
    font-size: 1.3rem;
    margin-bottom: 10px;
}
.modalRole{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    border-bottom: solid 1px #fff;
}
.changes{
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
}
.modalBtns{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}
.modalNo{
    width: 200px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    color: #249;
    border: none;
    transition: all 0.3s;
}
.modalNo:hover{
    color: #fff;
    background-color: #333;
    border: solid 1px #fff;
}
.modalYes{
    width: 200px;
    padding: 10px;
    background-color: #249;
    border-radius: 10px;
    color: #fff;
    border: solid 1px #fff;
    transition: all 0.3s;
}
.modalYes:hover{
    color: #249;
    background-color: #fff;
    border: solid 1px #249;

}