.menu{
    z-index: 90;
    display: flex;
    flex-direction: column;;
    margin-top: 50px;
    transition: width 0.3s;
    border-right: solid 1px #ddd;
    background-color: #fff;
}
/* スマートフォン向け */
@media (max-width: 767px) {
    .menu{
        position: fixed;
    }
    .menuOpen{
        width: 80vw;
    }
  }
  
  /* タブレット向け */
  @media (min-width: 768px) and (max-width: 1024px) {
    .menuOpen{
        width: 300px;
    }
  }
  
  /* デスクトップ向け */
  @media (min-width: 1025px) {
    .menuOpen{
        width: 300px;
    }
  }
/* スマホ */
@media (max-width: 767px) {
    .menuOpen{
        width: 80vw;
    }
}
/* スマホ */
@media (max-width: 480px) {
    .menuOpen{
        width: 80vw;
    }
}
.menuClose{
    width: 0px;
}